*.log
*.blg
*.bbl
*.aux
*.pdf
*.gz
*.out
*.brf
stack.yaml.lock
.stack-work/
.vscode/
.history/
dist-newstyle

# Temp files from isabelle
isabelle/**/*~

# Document partials
isabelle/**/output

# Generated tex file from literate haskell
isabelle/**/marlowe-core-json.tex

# Hook configuration file
.pre-commit-config.yaml